<h1> Détail du gossip </h1>
<p> <%= @gossip.content %> </p>


<p>

<a href="<%=gossips_path%>"  class="btn btn-primary">Revenir aux gossips </a>

<a href="<%=edit_gossip_path%>" class="btn btn-primary">Editer le gossip </a>
 